@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply mt-4 text-5xl font-semibold;
}

h2 {
  @apply mt-4 text-4xl font-semibold;
}

h3 {
  @apply mt-4 text-3xl font-semibold;
}

h4 {
  @apply mt-4 text-2xl font-semibold;
}

h5 {
  @apply mt-4 text-xl font-semibold;
}

h6 {
  @apply mt-4 text-lg font-semibold;
}

a {
  @apply underline;
}

ul {
  @apply mb-2 ml-6;
  list-style: disc;
}

ol {
  @apply mb-2 ml-6;
  list-style: decimal;
}

table {
  @apply mb-4;

  tr {
    th,
    td {
      @apply px-2 py-1 border;
    }
  }
}

blockquote {
  @apply pl-4 border-l-2 border-orange-500;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}

