@import "tailwindcss";

:root {
  --background: white;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-5xl mb-2 mt-4;
}

h2 {
  @apply text-4xl mb-2 mt-4;
}

h3 {
  @apply text-3xl mb-2 mt-4;
}

h4 {
  @apply text-2xl mb-2 mt-4;
}

h5 {
  @apply text-xl mb-2 mt-4;
}

h6 {
  @apply text-lg mb-2 mt-4;
}

p {
  @apply mb-2;
}

a {
  @apply underline;
}

ul {
  @apply mb-2 ml-6;
  list-style: disc;
}

ol {
  @apply mb-2 ml-6;
  list-style: decimal;
}

table {
  @apply mb-4;

  tr {
    th,
    td {
      @apply px-2 py-1 border;
    }
  }
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
}
